<header id="reel">
  <div class="brand-name">Whatch</div>
  <hr class="colored">
  <div class="brand-name-subtext">Discover Your Movies</div>
  <a href="/auth/twitter" class="login"><spann class="twitter"></span></a>
</header>

