<header id="reel">
  <div class="brand-name">Whatch</div>
  <hr class="colored">
  <div class="brand-name-subtext">Movie Recommendation Application</div>
  <a href="/auth/twitter"><spann class="twitter"></span></a>
</header>

