<br><br><br>

<h2>About Us</h2>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5>What is WHATCH?</h5>
      <hr class="colored help-colored">
    </div>  
    <div class="panel-body">
     A tool that exposes the indecisive movie-watcher to popular and acclaimed movies through trailers.<br><br>
    </div>  

    <div class="panel-heading">
      <h5>About WHATCH</h5>
      <hr class="colored help-colored">
    </div>
    <div class="panel-body">
      <div id="team">
        We are a team of movie lovers who believes no movie-watcher should have to struggle to find a great movie to watch. We agree that searching for films is frustrating, and inefficient. With a growing online selection of movie resources, how are we supposed to find movies to watch without searching through numerous websites?<br><br>

        As frustrated movie-finders, we envisioned a way to easily, and efficiently find popular movies personalized to our tastes. As excited developers, we found our inspiration for WHATCH: an application that combines our love of movies and the convenience of the internet to simplify the way we find great movies. WHATCH allows us to spend more time whatching and less time searching.<br><br>

        Our application combines the functionality of numerous online movie resources, like IMdb and Amazon Instant Play, to ease the process of finding and selecting a movie. WHATCH is efficient and fun-- a application of discovery and joy.<br><br>
      </div>
    </div>
    
    <div class="panel-heading">
      <h5>The Team</h5>
      <hr class="colored help-colored">
    </div>
      <div class="panel-body">
        <%= image_tag('team.jpg', width: '50%') %><br><br>
      </div>  
  </div>
