<br><br><br>

<h2>About Us</h2>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5>What is WHATCH?</h5>
      <hr class="colored help-colored">
      <span class="down" href="#about"><i class="fa fa-angle-down fa-fw"></i></span>
    </div>  
    <div class="panel-body">
     A tool that exposes the indecisive movie-watcher to popular and acclaimed movies through trailers.<br><br>
    </div>  

    <div class="panel-heading">
      <h5>About WHATCH</h5>
      <hr class="colored help-colored">
      <span class="down" href="#about"><i class="fa fa-angle-down fa-fw"></i></span>
    </div>
    <div class="panel-body">
      <div id="team">
        We are a team of movie lovers who believes no movie-watcher should have to struggle to find a great movie to watch. We agree that searching for films is frustrating, and inefficient. With a growing online selection of movie resources, how are we supposed to find movies to watch without searching through numerous websites?<br><br>

        As frustrated movie-finders, we envisioned a way to easily, and efficiently find popular movies personalized to our tastes. As excited developers, we found our inspiration for WHATCH: an application that combines our love of movies and the convenience of the internet to simplify the way we find great movies. WHATCH allows us to spend more time whatching and less time searching.<br><br>

        Our application combines the functionality of numerous online movie resources, such as IMDb and Amazon Instant Play, to ease the process of finding and selecting movies. WHATCH is efficient and fun&#8212; an  application of discovery and joy.<br><br>
      </div>
    </div>
    
    <div class="panel-heading">
      <h5>The Team</h5>
      <hr class="colored help-colored">
      <span class="down" href="#about"><i class="fa fa-angle-down fa-fw"></i></span>
    </div>
    <div class="panel-body">
      <%= image_tag('team.jpg', width: '50%') %><br><br>
      Amanda, Sara, and Jarret are students in the Ruby 006 class at <%= link_to("The Flatiron School", "http://flatironschool.com/" , target: "_blank") %>.<br><br>

      In her free time, <strong>Amanda</strong> enjoys doing theater and singing, and her next application will be a new version of WHATCH for cat videos on YouTube. <strong>Sara</strong> is a native New Yorker and pizza enthusiast. She plans on being Amanda's first 'Cat App' user. <strong>Jarret</strong> has a perennial thirst for knowledge and loves to figure out how things work. His hobbies are thinking about what his hobbies are. 
    </div>

    <div class="panel-heading">
      <h6>Credits</h6>
      <hr class="colored help-colored">
      <span class="down" href="#about"><i class="fa fa-angle-down fa-fw"></i></span>
    </div>
    <div class="panel-body">
      Thanks to <%= link_to("Ian Miller", "https://twitter.com/irmiller22" , target: "_blank") %>; we couldn't have done it without you!<br>
      Credit to Kyle Hayden for our awesome name: WHATCH.
    </div>  
  </div>
