<!-- <h3> Welcome<% if current_user %>, <%= current_user.name %><% end %>! </h3>

<h2> <%= @movie.title %> </h2>  -->

<div id="trailer">
  <iframe width="100%" height="100%" src="//www.youtube.com/embed/<%= @movie.source_id %>?rel=0&autoplay=1&showinfo=0&controls=0&iv_load_policy=3" frameborder="0" allowfullscreen></iframe>
</div>

<%= render 'footer' %>