<h1> Welcome to Whatch! </h1>

<h2> <%= @movie.title %> </h2> 

<iframe width="560" height="315" src="//www.youtube.com/embed/<%= @movie.source_id %>" frameborder="0" allowfullscreen></iframe>
<div class="buttons">
  
</div>