<ul class="list-group">
<% ratings.each do |rating| %>
  <li class="list-group-item">
     <%= button_to '&#x2716'.html_safe, rating_path(rating), method: :delete, class: "btn btn-default" %>
     <%= link_to(rating.movie.title, watch_path(rating.movie)) %>
     <%= button_to '&#x2714'.html_safe, rating_path(rating), method: :patch, class: "btn btn-default" %>
  </li>
<% end %>
</ul>