// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, #background, .container, #trailer {
	width: 100%;
	height: 100%;
}

html, #background {
  background-color: black;
}

.container {
	text-align: center;
}

.button_to {
	padding: 10px;
	display: inline-block;
}

nav {
	width: 100%;
	background-color: black;
	margin: 0 auto;
	font-weight: 500;
}

nav .container {
	width: 80%;
}

.navbar-default.navbar-expanded, .navbar-inverse.navbar-expanded {
	background-color: black;
	border-color: transparent;
}

.navbar-fixed-top.navbar-expanded {
	padding: 10px;
}

.img-responsive {
	height: 100%;
}

#my_movies {
	clear: both;
	display: block;
}

#footer {
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
	background-color: black;
}