// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, #background, .container, #trailer, #reel {
	width: 100%;
	height: 100%;
}

html, #background {
  background-color: black;
}

.nav a {
	font-family: Avenir, Raleway, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}

.container {
	text-align: center;
	padding: 0;
}

#reel {
	background-image: image-url('login.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	color: white;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}

header .brand-name {
	padding-top: 30%;
}

.button_to {
	padding: 10px;
	display: inline-block;
}

nav {
	width: 100%;
	background-color: black;
	margin: 0 auto;
	font-weight: 500;
}

nav .container {
	width: 80%;
}

.navbar-default.navbar-expanded, .navbar-inverse.navbar-expanded {
	background-color: black;
	border-color: transparent;
}

.navbar-fixed-top.navbar-expanded {
	padding: 10px;
}

.img-responsive {
	height: 100%;
}

#my_movies {
	clear: both;
	display: block;
}

#footer {
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
	background-color: black;
}