// Place all the styles related to the Ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ratings {
	width: 50%;
	margin: 0 auto;
	margin-top: 5%;
}

#portfoliolist {
	width: 70%;
	margin: 0 auto;
}

#portfoliolist .portfolio{
	float: none;
	width: 30%;
	background-position: center bottom;
}

#portfoliolist .portfolio .portfolio-wrapper .caption .caption-text {
	padding: 1%;
}

.portfolio-filter #filters li .filter {
	color: gray;
	border-color: gray;
}

#showLeft, #whatchMe, #resetMe {
	display: block;
	margin: 2px;
	padding: 10px 15px;
	border: 1px solid gray;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 900;
	letter-spacing: 1px;
	color: gray;
	background: 0 0;
	-webkit-transition: all .5s;
	transition: all .5s;
	cursor: pointer;
}

#resetMe {
	display: inline;
}

nav#cbp-spmenu-s1 {
	margin-top: 8%;
	overflow: auto;
}

.active#showLeft {
	border-color: #0a8fd5;
	color: #fff;
	background-color: #0a8fd5;
}

#cbp-spmenu-s1 a:hover,
#cbp-spmenu-s1 a span.active,
#cbp-spmenu-s1 a:visited {
	color:white;
}

#cbp-spmenu-s1 a span.active {
	font-weight: bold;
	font-style: italic;
}

#cbp-spmenu-s1 a span {
	padding: 5% 15%;
	font-family: Raleway, sans-serif;
	text-transform: uppercase;
	font-size: 12px;
}

#cbp-spmenu-s1 span.filter {
	width: 100%;
	height: 100%;
}


#list-footer {
	height: auto;
	padding: 1%;
	z-index: 500;
}

#ebutton{
	padding: 1px 5px;
 	font-size: 12px;
 	line-height: 1.5;
 	border-radius: 3px;
 	display: inline-block;
 	margin-bottom: 0;
 	font-weight: normal;
 	text-align: center;
 	vertical-align: middle;
 -ms-touch-action: manipulation;
     touch-action: manipulation;
 	cursor: pointer;
 	background-image: none;
 	border: 1px solid transparent;
 	white-space: nowrap;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 background-color: #2a9fd6 ;
 border-color: #2a9fd6 ;
 color: white;
}