// Place all the styles related to the Ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ratings {
	width: 50%;
	margin: 0 auto;
	margin-top: 5%;
}

#portfoliolist .portfolio{
	float: none;
	width: 20%;
	background-position: center bottom;
}

#portfoliolist .portfolio .portfolio-wrapper .caption .caption-text {
	padding: 1%;
}

.portfolio-filter #filters li .filter {
	color: gray;
	border-color: gray;
}