<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>  
  <h3>Your List of Movies</h3>
  <h4>Definitely Whatch</h4>
  <ol>
    <%= render @yes %>
  </ol>
    <h4>Maybe Whatch</h4>
  <ol>
    <%= render @maybe %>
  </ol>
</body>
</html>