<div id="footer">
	<% if current_user %>
	  <div class="buttons">
	    <%= button_to 'No', ratings_path, params: {score: 0, movie_id: @movie.id}, remote: true, method: :post, class: "btn btn-default" %>
	    <%= button_to 'Maybe', ratings_path, params: {score: 1, movie_id: @movie.id}, remote: true, method: :post, class: "btn btn-default"%>
	    <%= button_to 'Yes', ratings_path, params: {score: 2, movie_id: @movie.id}, remote: true, method: :post, class: "btn btn-default" %>
	  </div>
	<% end %>
</div>